.exhibit {
  width: 1024px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  color: #9b9b9b;
}
.illustrate {
  width: 450px;
  height: 373px;
  margin-bottom: 84px;
}
.Area {
  width: 854px;
  margin: 0px 85px;
  text-align: left;
}
.photo {
  margin-bottom: 107px;
}
.title {
  border-left: 5px solid black;
  line-height: 43px;
  text-align: left;
  margin-bottom: 25px;
}
.drongr-experience {
  margin-bottom: 64px;
}
.drongr-photo1 {
  width: 554px;
  height: 237px;
  border-radius: 20px;
}
.drongr-photo2 {
  width: 262px;
  height: 237px;
  border-radius: 20px;
}
.messageItem {
  margin: 0px 25px 50px 48px;
  height: 112px;
}
.icon {
  width: 50px;
  height: 50px;
  margin-right: 33px;
  vertical-align: middle;
}
.drongr-describe {
  display: inline;
  font-size: 14px;
}
